# Python Dictionary and Set Exercises

## Dictionary Exercises

### 1. Sort a Dictionary by Value
Write a Python script to sort (ascending and descending) a dictionary by value.

In [9]:
my_dict = {"apple" : 10, "banana" : 22, "cherry": 30}
desc_my_dict = sorted(my_dict,reverse=False)
desc_my_dict    
asc_my_dict = sorted(my_dict,reverse=True)  
asc_my_dict

['cherry', 'banana', 'apple']

### 2. Add a Key to a Dictionary
Write a Python script to add a key to a dictionary.
**Sample Dictionary:**
```python
{0: 10, 1: 20}
```

**Expected Result:**
```python
{0: 10, 1: 20, 2: 30}
```

In [10]:
my_list = {0: 10, 1: 20}
my_list[2] = 30
print(my_list)

{0: 10, 1: 20, 2: 30}

### 3. Concatenate Multiple Dictionaries
Write a Python script to concatenate the following dictionaries to create a new one.

**Sample Dictionaries:**
```python
dic1 = {1: 10, 2: 20}
dic2 = {3: 30, 4: 40}
dic3 = {5: 50, 6: 60}
```

**Expected Result:**
```python
{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}
```

In [12]:
dic1 = {1: 10, 2: 20}
dic2 = {3: 30, 4: 40}
dic3 = {5: 50, 6: 60}
combined = dic1 | dic2 | dic3
combined

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

### 4. Generate a Dictionary with Squares
Write a Python script to generate and print a dictionary that contains a number (between 1 and n) in the form `(x, x*x)`.

**Sample Dictionary (n = 5):**
```python
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}
```

In [19]:
n = int(input())
sq_dict = {}

for i in range(1, n+1):
    sq_dict[i] = i*i

sq_dict

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

### 5. Dictionary of Squares (1 to 15)
Write a Python script to print a dictionary where the keys are numbers between 1 and 15 (both included) and the values are the square of the keys.

**Expected Output:**
```python
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225}
```

In [ ]:
#this topic hasn't been covered yet

## Set Exercises

### 1. Create a Set
Write a Python program to create a set.

In [20]:
my_list = ["Sanjar", "Oybek", "Akobir", "Fuzayl", "Islombek", "Akobir", 'Akmal']

my_set = set(my_list)

my_set

{'Akmal', 'Akobir', 'Fuzayl', 'Islombek', 'Oybek', 'Sanjar'}

### 2. Iterate Over a Set
Write a Python program to iterate over sets.

In [22]:
my_set
for i in my_set:
    print(i)

Fuzayl
Sanjar
Akobir
Akmal
Islombek
Oybek

### 3. Add Member(s) to a Set
Write a Python program to add member(s) to a set.

In [31]:
my_set
my_set.add('Shavkat')
my_set

{'Akmal', 'Akobir', 'Islombek', 'Oybek', 'Shavkat'}

### 4. Remove Item(s) from a Set
Write a Python program to remove item(s) from a given set.

In [35]:
my_list = ["Sanjar", "Oybek", "Akobir", "Fuzayl", "Islombek", "Akobir", 'Akmal']
my_list.pop()
my_list

['Sanjar', 'Oybek', 'Akobir', 'Fuzayl', 'Islombek', 'Akobir']

### 5. Remove an Item if Present in the Set
Write a Python program to remove an item from a set if it is present in the set.

In [37]:
my_list = ["Sanjar", "Oybek", "Akobir", "Fuzayl", "Islombek", "Akobir", 'Akmal']
my_list.remove('Sanjar')
my_list

['Oybek', 'Akobir', 'Fuzayl', 'Islombek', 'Akobir', 'Akmal']