# Homework: List and Tuple Exercises

## 1. Create and Access List Elements
Create a list containing five different fruits and print the third fruit.

In [9]:
fruits = ["apple", "mango", "melon", "banana", "watermelon"]
print(fruits[2])

melon

## 2. Concatenate Two Lists
Create two lists of numbers and concatenate them into a single list.

In [2]:
first_list = [5, 6, 8, 7]
second_list = [4, 1, 3, 11]
first_list.extend(second_list)
first_list

[5, 6, 8, 7, 4, 1, 3, 11]

## 3. Extract Elements from a List
 Given a list of numbers, extract the first, middle, and last elements and store them in a new list.

In [10]:
my_list = [5, 6, 7, 8, 9]
first_list = my_list[0]
last_list = my_list[-1]
middle_list = my_list[len(my_list)%2]

new_list = [first_list, middle_list, last_list]
new_list

[5, 6, 9]

## 4. Convert List to Tuple
Create a list of your five favorite movies and convert it into a tuple.

In [1]:
favorite_films = ["Osmondagi bolalar", "kichkina tabib", "shum bola", "o`tgan kunlar", "Vatan"]
favorite_films_tuple = tuple(favorite_films)
print(favorite_films_tuple)

('Osmondagi bolalar', 'kichkina tabib', 'shum bola', 'o`tgan kunlar', 'Vatan')

## 5. Check Element in a List
Given a list of cities, check if "Paris" is in the list and print the result.

In [7]:
city_list = ['London', 'New york', 'Tashkent', 'Paris', 'Parkent']
if "Paris" in city_list:
    print('Paris is in the list.')
else:
    print('Paris is\' not in the list.')

Paris is in the list.

## 6. Duplicate a List Without Using Loops
Create a list of numbers and duplicate it without using loops.

In [8]:
my_list = [5, 6, 2, 3, 1]
dublicate_my_list = my_list * 2
print(dublicate_my_list)

[5, 6, 2, 3, 1, 5, 6, 2, 3, 1]

## 7. Swap First and Last Elements of a List
Given a list of numbers, swap the first and last elements.

In [11]:
my_list = [5, 6, 8, 9, 10, 11]
my_list[0] = 'alo'
my_list[-1] = 'hayr'
my_list

['alo', 6, 8, 9, 10, 'hayr']

## 8. Slice a Tuple
Create a tuple of numbers from 1 to 10 and print a slice from index 3 to 7.

In [15]:
numbers = tuple(range(1,11))
slice = numbers[3:7]
slice

(4, 5, 6, 7)

## 9. Count Occurrences in a List
Create a list of colors and count how many times "blue" appears in the list.

In [17]:
Colors = ['blue', 'red', 'yellow', 'blue', 'orange', 'yellow']
Colors.count('blue')

2

## 10. Find the Index of an Element in a Tuple
Given a tuple of animals, find the index of "lion".

In [18]:
Animals = ('tiger', 'lion', 'zebra', 'snake', 'monkey')
index_Animal = Animals.index('lion')
index_Animal

1

## 11. Merge Two Tuples
Create two tuples of numbers and merge them into a single tuple.

In [20]:
First_numbers = (5, 6, 7, 8)
second_numbers = (9, 2, 3, 2)
Merge_numbers = First_numbers + second_numbers
Merge_numbers

(5, 6, 7, 8, 9, 2, 3, 2)

## 12. Find the Length of a List and Tuple
Given a list and a tuple, find and print their lengths.

In [28]:
Animals = ('tiger', 'lion', 'zebra', 'snake', 'monkey')
Colors = ['blue', 'red', 'yellow', 'blue', 'orange', 'yellow']
len(Animals)
len(Colors)

6

## 13. Convert Tuple to List
Create a tuple of five numbers and convert it into a list.

In [29]:
numbers = (5, 6, 4, 3, 8)
list_numbers = list(numbers)
list_numbers

[5, 6, 4, 3, 8]

## 14. Find Maximum and Minimum in a Tuple
Given a tuple of numbers, find and print the maximum and minimum values.

In [ ]:
numbers = (5, 6, 4, 3, 8)
max_numbers = max(numbers)
min_numbers = min(numbers)
max_numbers
min_numbers

8

## 15. Reverse a Tuple
Create a tuple of words and print it in reverse order.

In [38]:
Animals = ('tiger', 'lion', 'zebra', 'snake', 'monkey')
reversed_Animals = Animals[::-1]
reversed_Animals

('monkey', 'snake', 'zebra', 'lion', 'tiger')