1.Create a new database with a table named Roster that has three fields: Name, Species, and Age. The Name and Species columns should be text fields, and the Age column should be an integer field.

In [ ]:
import pyodbc
coonn = pyodbc.connect(
    "Driver={SQL Server};"
    "Server=WIN-HV90QGCGP0G;"
    "Database=Samandar;"
    "Trusted_Connection=yes;"
)
cursor1 = coonn.cursor()
creating_query = """ Create table Roster (Name varchar(50), Species varchar(50), Age int)
"""

insert_query = """INSERT INTO Roster (Name, Species, Age) VALUES 
('Benjamin Sisko', 'Human', 40),
('Jadzia Dax', 'Trill', 300),
('Kira Nerys', 'Bajoran', 29)"""
cursor1.execute(insert_query)

cursor1.execute(""" 
              select * from Roster
               """)
cursor1.fetchall()

coonn.commit()
coonn.close()

2.Populate your new table with the following values:

Name	Species	Age
Benjamin Sisko	Human	40
Jadzia Dax	Trill	300
Kira Nerys	Bajoran	29

In [1]:
import pyodbc
coonn = pyodbc.connect(
    "Driver={SQL Server};"
    "Server=WIN-HV90QGCGP0G;"
    "Database=Samandar;"
    "Trusted_Connection=yes;"
)
cursor1 = coonn.cursor()
creating_query = """ Create table Roster (Name varchar(50), Species varchar(50), Age int)
"""

insert_query = """INSERT INTO Roster (Name, Species, Age) VALUES 
('Benjamin Sisko', 'Human', 40),
('Jadzia Dax', 'Trill', 300),
('Kira Nerys', 'Bajoran', 29)"""
cursor1.execute(insert_query)

cursor1.execute(""" 
              select * from Roster
               """)
cursor1.fetchall()

coonn.commit()
coonn.close()

3.Update the Name of Jadzia Dax to be Ezri Dax

In [4]:
import pyodbc
coonn = pyodbc.connect(
    "Driver={SQL Server};"
    "Server=WIN-HV90QGCGP0G;"
    "Database=Samandar;"
    "Trusted_Connection=yes;"
)
cursor1 = coonn.cursor()

update_query = """
    UPDATE Roster
    SET Name = 'Ezri Dax'
    WHERE Name = 'Jadzia Dax'
"""

cursor1.execute(update_query) 
cursor1.execute("select * from Roster")
cursor1.fetchall()

[('Benjamin Sisko', 'Human', 40),
 ('Ezri Dax', 'Trill', 300),
 ('Kira Nerys', 'Bajoran', 29)]

4.Display the Name and Age of everyone in the table classified as Bajoran.

In [5]:
import pyodbc
coonn = pyodbc.connect(
    "Driver={SQL Server};"
    "Server=WIN-HV90QGCGP0G;"
    "Database=Samandar;"
    "Trusted_Connection=yes;"
)
cursor1 = coonn.cursor()
cursor1.execute("select Age, Name from Roster Where Species = 'Bajoran'")
cursor1.fetchall()

[(29, 'Kira Nerys')]