# Homeworks

## 1. Modify String with Underscores
Given a string `txt`, insert an underscore (`_`) after every third character. If a character is a vowel or already has an underscore after it, shift the underscore placement to the next character. No underscore should be added at the end.

### Examples
**Input:** `hello`
**Output:** `hel_lo`

**Input:** `assalom`
**Output:** `ass_alom`

**Input:** `abcabcabcdeabcdefabcdefg`
**Output:** `abc_abc_abcd_abcd_abcdef`

---

## 2. Integer Squares Exercise

### Task
The provided code stub reads an integer, `n`, from STDIN. For all non-negative integers `i` where `0 <= i < n`, print `i^2`.

### Example Input
```
5
```

### Example Output
```
0
1
4
9
16
```
### Input Format
The first and only line contains the integer, `n`.

### Constraints
- `1 <= n <= 20`

### Output Format
Print `n` lines, one corresponding to each `i^2` where `0 <= i < n`.

In [1]:
n = int(input())

for i in range(n):
    if 1 <= n < 20:
        print(i ** 2)

0
1
4

## 3. Loop-Based Exercises

### Exercise 1: Print first 10 natural numbers using a while loop

In [4]:
i = 1
while i <= 10:
    print(i)
    i+=1

1
2
3
4
5
6
7
8
9
10

### Exercise 2: Print the following pattern
```
1
1 2
1 2 3
1 2 3 4
1 2 3 4 5
```

In [75]:
i = 1
while i <= 5:
    j = 1
    while j <= i:
        print(j, end= ' ')
        j+= 1
    print()
    i+=1

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

### Exercise 3: Calculate sum of all numbers from 1 to a given number
**Example:**
```
Enter number 10
Sum is: 55
```

In [ ]:


n = int(input("Natural son kiriting: "))
total = sum(list(range(1, n + 1)))
print("Yig'indisi:", total)

Yig'indisi: 55

In [52]:
sum(list(range(1, (int(input('natural son kiriting: '))) +1)))

55

### Exercise 4: Print multiplication table of a given number
**Example:**
```
2
4
6
8
10
12
14
16
18
20
```

In [70]:
for i in range(1,(int(input('natural son kiriting: '))) +1):
    print(i*2)

2
4
6
8
10
12
14
16
18
20

### Exercise 5: Display numbers from a list using a loop
**Given:**
```python
numbers = [12, 75, 150, 180, 145, 525, 50]
```
**Expected Output:**
```
75
150
145
```

In [73]:
numbers = [12, 75, 150, 180, 145, 525, 50]
for i in numbers:
    print(i)

12
75
150
180
145
525
50

### Exercise 6: Count the total number of digits in a number
**Example:**
```
75869
Output: 5
```

In [89]:
a = 75869
con = 0
for i in str(a):
    con += 1
print(f"Count({a} : {con})")

Count(75869 : 5)

### Exercise 7: Print reverse number pattern
```
5 4 3 2 1
4 3 2 1
3 2 1
2 1
1
```

In [107]:
i = 5
while i >= 1:
    j = 1
    while j <= i:
        print(j, end= ' ')
        j+=1 
    print()
    i-=1

1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

### Exercise 8: Print list in reverse order using a loop
**Given:**
```python
list1 = [10, 20, 30, 40, 50]
```
**Expected Output:**
```
50
40
30
20
10

In [114]:
list1 = [10, 20, 30, 40, 50]
i = len(list1)-1
while i >= 0:
    print(list1[i])
    i-=1

50
40
30
20
10

### Exercise 9: Display numbers from -10 to -1 using a for loop
```
-10
-9
-8
-7
-6
-5
-4
-3
-2
-1
```

In [121]:
for i in range(-10,0):
    print(i)

-10
-9
-8
-7
-6
-5
-4
-3
-2
-1

### Exercise 10: Display message “Done” after successful loop execution
**Example:**
```python
0
1
2
3
4
Done!
```

In [126]:
i = 0
while i <= 4:
    print(i)
    i+=1
print('Done!')

0
1
2
3
4
Done!

### Exercise 11: Print all prime numbers within a range
**Example:**
```
Prime numbers between 25 and 50:
29
31
37
41
43
47
```

In [ ]:

for i in range(25+1,50):
    if i **0.5 != :
        print(i)

27
29
31
33
35
37
39
41
43
45
47
49

### Exercise 13: Find the factorial of a given number
**Example:**
```
5! = 120

In [2]:
i = 1
factorial = 1
n = int(input('N sonini kiriting: '))
while i<=n:
    factorial=factorial*i
    i = i + 1
print(factorial)

120